@model Instagram.Models.User

@{
    ViewData["Title"] = "UserHome";
}


<p>
    <h4 class="btn btn-primary">
        @Html.DisplayFor(modelItem => Model.UserName);
    </h4>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Настройки</a>
</p>
<p>
    <h4 class="btn btn-primary">
        @Html.DisplayFor(modelItem => Model.FirstName);
    </h4>
</p>
<p>
    <h4 class="btn btn-primary">
        @Html.DisplayFor(modelItem => Model.Status);
    </h4>
</p>

